extends ../_includes/layouts/score_page.pug

block head
  title osu! Game Event #2

block pageContent
  .flex.flex-col.mt-11
    h1(class="lg:text-7xl md:text-5xl text-3xl font-bold text-center") osu! Game Event #2
    span(class="text-center mt-11 lg:p-11 p-4 subtitle-container")
      | The second osu! Game Discord Event, held on 2022-10-31 - the Halloween night. 19 different maps were played over ~2.5 hours by players across two lobbies. The Halloween themed maps started at 4.5* and ramped up to 7.5* by the end, good time was had by all.

    .mt-11
      | !{comp.game_placements({first: totalScores[0], second: totalScores[1], third: totalScores[2]})}

    .mt-11
      | !{comp.score_summary_table({scores: totalScores})}
  
    .individual-map-grid.mt-11
      each game in beatmapScores
        | !{comp.beatmap_scores_table({game: game, mode: 'osu'})}