extends ../_includes/layouts/score_page.pug

block head
  title osu! Game Discord Event #1


block pageContent
  .flex.flex-col.mt-11
    h1(class="lg:text-7xl md:text-5xl text-3xl dark:font-bold text-center") osu! Game Discord Event #1
    article(class="text-center mt-11 lg:p-11 p-4 subtitle-container")
      | On 2022-01-23 was held the first ever multiplayer event. There were 2 lobbies for osu!&nbsp;(standard) and 1 lobby for osu!mania.
    .lobby-list.mt-11
        a.lobby-item(href="/osu-game-event-1/osu/")
          .lobby-item-image: img(src="/assets/img/osu.png", alt="osu!")
          .lobby-item-title osu! (standard)
        a.lobby-item(href="/osu-game-event-1/mania/")
          .lobby-item-image: img(src="/assets/img/mania.png", alt="osu!mania")
          .lobby-item-title osu!mania