extends _includes/layouts/score_page.pug

block head
   title osu! Game Discord Events

block pageContent
  .flex.flex-col.mt-11
    h1(class="lg:text-7xl md:text-5xl text-3xl dark:font-bold text-center") osu! Game Discord Events
    article(class="text-center mt-11 lg:p-11 p-4 subtitle-container")
      | At the unofficial #[a(href="https://discord.gg/osu") osu! game community discord server], every once in a while we hold some multiplayer events. This is an archive of the leaderboards for each of them.

    div(class="lg:mt-0 mt-11")
    h2.text-xl.font-bold.text-separator 2022
    ul
      li: a(href='/osu-game-event-2/') 2022-10-31
      li: a(href='/osu-game-event-1/') 2022-01-23