.placement-grid.leaderborad-table-main
  .placement.placement-silver.text-5xl #2
  .placement.placement-gold.text-7xl #1
  .placement.placement-bronze.text-3xl #3
  .placement.placement-silver.text-2xl= second.player.username
  .placement.placement-gold.text-2xl= first.player.username
  .placement.placement-bronze.text-2xl= third.player.username