extends ../_includes/layouts/score_page.pug

block head
  title osu! Game Event #3 - Rhythm of the Past

block pageContent
  .flex.flex-col.mt-11
    h1(class="lg:text-7xl md:text-5xl text-3xl font-bold text-center") osu! Game Event #3 - Rhythm of the Past
    span(class="text-center mt-11 lg:p-11 p-4 subtitle-container")
      | The third osu! Game Discord Event, held on 2024-02-17, where we celebrated osu!lazer enabling PP. 20 different maps were played as we revisited old, historic, iconic or otherwise notable maps, discussed some osu! history between maps and had a lot of fun. The event took ~2.5 hours.

    .mt-11
      | !{comp.game_placements({first: totalScores[0], second: totalScores[1], third: totalScores[2]})}

    .mt-11
      | !{comp.score_summary_table({scores: totalScores})}
  
    .individual-map-grid.mt-11
      each game in beatmapScores
        | !{comp.beatmap_scores_table({game: game, mode: 'osu'})}