extends ../../_includes/layouts/score_page.pug

block head
  title osu! Game Event #1 (mania)

block pageContent
  .flex.flex-col.mt-11
    h1(class="lg:text-7xl md:text-5xl text-3xl font-bold text-center") #[a(href='/osu-game-event-1/') osu! Game Event #1] (mania)
    span(class="text-center mt-11 lg:p-11 subtitle-container")
      | In this event players were crushing 1-3* maps (osu!mania). This was not a serious competition, but here's something for bragging rights. Hopefully we'll see more people next time!

    .mt-11
      | !{comp.game_placements({first: totalScores[0], second: totalScores[1], third: totalScores[2]})}

    .mt-11
      | !{comp.score_summary_table({scores: totalScores})}
  
    .individual-map-grid.mt-11
      each game in beatmapScores
        | !{comp.beatmap_scores_table({game: game, mode: 'mania'})}